footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .footer__icons{
    width: 100%;
    margin-bottom: 1rem;
    display: inline-block;
}

footer i{
    font-size: 1.4rem;
    color: white;
    margin-left: 1rem;
}

.line--vertical{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.footer--top{
    height: 40%;
    align-items: flex-end;
    text-align: right;
}

.footer--bottom{
    height: auto;
    background-image: url(./images/background.jpg);
    background-position: bottom;
    align-items: center;
    text-align: center;
    padding: 2rem;
}